:root {
  --page-margin: 10mm;
  --section-margin: 6mm;
  /* Fonts */
  --font-monospaced: 'Roboto Mono', monospace;
  /* Colors */
  --debug-color: lightpink;
  --color-black: #0000000;
  --color-secondary-grey: #7C7C7B;
  --color-light-grey: #ECECEC;
  /* Typographic styles */
  --h1-fsize: 16pt;
  --h2-fsize: 14pt;
  --h3-fsize: 12pt;
  --h4-fsize: 10pt;
  --data-fsize-large: 12pt;
  --data-fsize-medium: 10pt;
  --data-fsize-small: 8pt;
  --body-fsize: 8pt;
  --caption-fsize: 8pt;
  --weight-bold: 700;
  --weight-regular: 400;
  /* Element sizes */
  --size-entity-logo: 30mm;
  --size-qrcode: 25mm;
  --size-data-matrix: 25mm;
  /* Sizes */
  --separator-title-height: 8mm;
  /* Inner margin, before column gap */
  --separator-margin-small: 4mm;
  --separator-gutter: 2mm;
  /* Spacing after separator */
  --separator-bottom-margin: 6mm;
  /* Used by payment data and Bollettino Postale */
  --data-grid-gap-large: 10mm;
  --data-grid-gap-medium: 6mm;
  --data-grid-gap-small: 4mm;
  --data-grid-gap-xsmall: 2mm;
}

/* Fonts */
@font-face {
  font-family: "Titillium Sans Pro";
  src: url(assets/fonts/TitilliumSansPro/TitilliumSansPro-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Sans Pro";
  src: url(assets/fonts/TitilliumSansPro/TitilliumSansPro-Semibold.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Sans Pro";
  src: url(assets/fonts/TitilliumSansPro/TitilliumSansPro-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url(assets/fonts/RobotoMono/RobotoMono-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url(assets/fonts/RobotoMono/RobotoMono-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  text-rendering: geometricprecision !important;
}

.h1,
.h2,
.h3,
.h4,
.body,
.small-caps-title,
.caption {
  margin: 0;
}

.h1 {
  font-size: var(--h1-fsize);
  font-weight: var(--weight-bold);
  line-height: 1.2;
}

.h2 {
  font-size: var(--h2-fsize);
  font-weight: var(--weight-bold);
  line-height: 1.2;
}

.h3 {
  font-size: var(--h3-fsize);
  font-weight: var(--weight-regular);
  line-height: 1.4;
}

.h4 {
  font-size: var(--h4-fsize);
  font-weight: var(--weight-bold);
  line-height: 1.2;
}

.small-caps-title {
  font-size: var(--h4-fsize);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  color: var(--color-black);
}

.data-small {
  font-family: var(--font-monospaced);
  font-size: var(--data-fsize-small);
  font-weight: var(--weight-regular);
}

.body {
  font-size: var(--body-fsize);
  font-weight: var(--weight-regular);
  line-height: 1.35;

  &.strong {
    font-weight: var(--weight-bold);
  }
}

.caption {
  font-size: var(--caption-fsize);
  font-weight: var(--weight-regular);
  color: var(--color-secondary-grey);
}

.align-right {
  text-align: right;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Sans Pro', sans-serif;
  -webkit-print-color-adjust: exact;
}

.page {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  width: 210mm;
  height: 296mm;
}

.page-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--section-margin);
  background-color: white;
}

.main-wrapper {
  display: grid;
}


/* Common */
.start-separator,
.end-separator,
.unique-separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-grey);
  height: var(--separator-title-height);
}

.unique-separator {
  padding-inline: var(--page-margin);
}

.start-separator {
  padding-inline-start: var(--page-margin);
  padding-inline-end: var(--separator-margin-small);
}

.end-separator {
  padding-inline-start: var(--separator-title-height);
  padding-inline-end: var(--page-margin);
}

.start-grid-cell {
  margin-inline-start: var(--page-margin);
  margin-inline-end: var(--separator-margin-small);
}

.end-grid-cell {
  margin-inline-start: var(--separator-title-height);
  margin-inline-end: var(--page-margin);
}

.unique-grid-cell {
  margin-inline: var(--page-margin);
}

.grid-cell-span-1 {
  grid-column: span 1;
}

.grid-cell-span-2 {
  grid-column: span 2;
}

.grid-cell-span-3 {
  grid-column: span 3;
}

.grid-cell-span-4 {
  grid-column: span 4;
}

dl {
  margin: 0
}

.mt-small {
  margin-top: var(--separator-margin-small);
}

.data-key-value {
  --spacing: 0.5mm;

  font-size: var(--body-fsize);
  line-height: 1.2;

  & dt {
    font-weight: var(--weight-regular);
  }

  & dd {
    margin: 0;
    margin-top: var(--spacing);
    font-weight: var(--weight-bold);
  }
}

.data-key-value-inline {
  display: flex;
  gap: var(--data-grid-gap-xsmall);
  font-size: var(--body-fsize);
  line-height: 1.2;

  & dt {
    font-weight: var(--weight-regular);
  }

  & dd {
    margin: 0;
    font-weight: var(--weight-bold);
  }
}

.data-key-value-monospaced {
  --spacing: 1mm;

  line-height: 1.4;

  & dt {
    font-size: var(--body-fsize);
    font-weight: var(--weight-regular);
  }

  & dd {
    margin: 0;
    margin-top: var(--spacing);
    font-size: var(--data-fsize-medium);
    font-family: var(--font-monospaced);
    font-weight: var(--weight-bold);
    line-height: 1.2;
  }
}

.data-key-value-inline-monospaced {
  display: flex;
  gap: var(--data-grid-gap-xsmall);
  align-items: baseline;
  line-height: 1;

  & dt {
    font-size: var(--h4-fsize);
    font-weight: var(--weight-regular);
  }

  & dd {
    margin: 0;
    font-family: var(--font-monospaced);
    font-size: var(--h3-fsize);
    font-weight: var(--weight-bold);
  }
}

/* Notice Header */

.notice-header {
  --entity-logo-margin: 4mm;

  display: flex;
  align-items: flex-start;
  padding: var(--page-margin);
  padding-bottom: 0;

  & .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--section-margin);
  }

  & .pagopa-header {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    gap: 4mm;

    & .logo {
      width: 15mm;
      height: auto;
    }
  }

  & .notice-title {
    text-transform: uppercase;
    color: var(--color-black);
  }

  & .notice-header-logo {
    flex-shrink: 0;
    justify-self: "end";
    display: block;
    width: var(--size-entity-logo);
    height: var(--size-entity-logo);
    margin-bottom: var(--entity-logo-margin);
  }
}

/* Notice Info
-- Payee
-- Debtor
*/

.notice-main-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "payee-title debtor-title"
    "payee-name debtor-name"
    "payee-sector debtor-address"
    "payee-info debtor-address";
  column-gap: var(--separator-gutter);
  row-gap: var(--separator-bottom-margin);
  margin-bottom: var(--section-margin);

  & .payee-title-block {
    grid-area: payee-title;
  }

  & .payee-name-block {
    grid-area: payee-name;
  }

  & .payee-sector-block {
    grid-area: payee-sector;
  }

  & .payee-info-block {
    grid-area: payee-info;
  }

  & .debtor-title-block {
    grid-area: debtor-title;
  }

  & .debtor-name-block {
    grid-area: debtor-name;
  }

  & .debtor-address-block {
    grid-area: debtor-address;
  }
}

/* Notice payment info
-- Amount
-- Where to pay
*/

.notice-payment-info {
  --payment-grid-col-gap: 4mm;
  --payment-value-margin: 1.5mm;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "payment-amount-title payment-locations-title"
    "payment-amount-block payment-locations-block";
  column-gap: var(--separator-gutter);
  row-gap: var(--separator-bottom-margin);
  margin-bottom: var(--section-margin);

  & .payment-amount-title-block {
    grid-area: payment-amount-title;
  }

  & .payment-locations-title-block {
    grid-area: payment-locations-title;
  }

  & .pagopa-website-block {
    /* display: flex;
    height: 100%; */
    /* align-items: center; */
    vertical-align: middle;
    /* column-gap: 0.5ch; */
  }
}

.payment-amount-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "amount amount date"
    "info info info";
  row-gap: var(--separator-margin-small);
  column-gap: var(--payment-grid-col-gap);

  & dd {
    margin-top: var(--payment-value-margin);
  }

  & .amount {
    grid-area: amount;
  }

  & .expiry-date {
    grid-area: date;
  }

  & .info {
    grid-area: info;
  }
}

.payment-locations-block {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: var(--separator-margin-small);
}

/* Notice Payment Data
-- QR Code
-- Notice main data
*/

.notice-payment-data {
  --columns: 12;
  --col-gap: var(--data-grid-gap-medium);

  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: var(--separator-bottom-margin);
  margin-bottom: var(--section-margin);

  & .payment-qrcode {
    width: var(--size-qrcode);
    height: var(--size-qrcode);
  }

  .payment-details {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--col-gap);
  }

  .qrcode-area {
    grid-column: span 3;
  }

  .payment-details-data {
    grid-column: span 9;
  }

  .payment-details-data-1st-block {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr auto;
    row-gap: var(--data-grid-gap-xsmall);
    column-gap: var(--data-grid-gap-small);

    & .amount {
      margin: 0;
      font-size: var(--h4-fsize);
      font-weight: var(--weight-regular);
    }

    & .amount strong {
      font-family: var(--font-monospaced);
      font-size: var(--data-fsize-large);
      font-weight: var(--weight-bold);
    }
  }

  .payment-details-data-2nd-block {
    display: grid;
    margin-top: var(--data-grid-gap-medium);
    grid-template-columns: repeat(8, 1fr);
  }
}

.notice-poste-payment-data {
  --columns: 12;
  --col-gap: var(--data-grid-gap-medium);

  position: relative;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: var(--separator-bottom-margin);
  margin-bottom: var(--section-margin);
  margin-top: var(--separator-margin-small);

  .payment-details {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--col-gap);
  }

  .header-bollettino-postale {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--col-gap);

    & .title {
      grid-column: span 3;
    }

    & .logo-and-date {
      grid-column: span 9;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & .logo-bancoposta {
      width: 20mm;
    }
  }

  .poste-italiane-area {
    grid-column: span 3;
    display: grid;
    row-gap: var(--data-grid-gap-small);
  }

  .logo-poste-italiane {
    width: 90%;
  }

  .logo-bollettino-postale {
    width: 75%;
  }

  .euro-block {
    width: 8mm;
    height: auto;
  }

  .account-number-and-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--data-grid-gap-medium);
  }

  & .account-number {
    display: flex;
    align-items: center;
    gap: var(--data-grid-gap-xsmall);
  }

  .poste-scissors {
    position: absolute;
    right: var(--page-margin);
    top: 0;
    transform: translateY(-100%);
  }

  .payment-details-data {
    grid-column: span 9;
  }

  .payment-details-and-datamatrix {
    display: grid;
    grid-template-areas: "first-block data-matrix"
      "second-block data-matrix";
    grid-template-columns: 1fr auto;
    gap: var(--data-grid-gap-medium);
  }

  .payment-details-data-1st-block {
    grid-area: first-block;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: var(--data-grid-gap-xsmall);

    & .amount {
      margin: 0;
      font-size: var(--h4-fsize);
      font-weight: var(--weight-regular);
    }

    & .amount strong {
      font-family: var(--font-monospaced);
      font-size: var(--data-fsize-large);
      font-weight: var(--weight-bold);
    }
  }

  .payment-details-data-2nd-block {
    grid-area: second-block;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--data-grid-gap-small);
  }

  .payment-data-matrix {
    grid-area: data-matrix;
    width: var(--size-data-matrix);
    height: var(--size-data-matrix);
  }
}

.forcedCapitalCase {
  text-transform: capitalize;
}