<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
  <title>Avviso di pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="page">
    <div class="page-wrapper">

      <header class="notice-header">
        <section class="main">
          <div class="pagopa-header">
            <img class="logo" src="assets/pagoPa-logo.svg" />
            <p class="h4 notice-title">Avviso di pagamento</p>
          </div>
          <div class="notice-subject">
            <h1 class="h1">Trasporto Scolastico A.S. 2021/2022</h1>
          </div>
        </section>
        <img class="notice-header-logo" alt="Comune di Controguerra" src="https://assets.cdn.io.italia.it/logos/organizations/82001760675.png" />
      </header>
      <main class="main-wrapper">
        <section class="notice-main-info">
          <div class="payee-title-block start-separator">
            <h3 class="small-caps-title">Ente creditore</h3>
            <p class="data-small">82001760675</p>
          </div>
        
          <div class="payee-name-block start-grid-cell">
            <p class="h2">Comune di Controguerra</p>
          </div>
        
          <div class="payee-sector-block start-grid-cell">
            <p class="h3">Servizio Pagamenti</p>
          </div>
        
          <div class="payee-info-block start-grid-cell">
            <p class="body">Centralino: 0861 809901</p>
          </div>
        
          <div class="debtor-title-block end-separator">
            <h3 class="small-caps-title">Destinatario</h3>
            <p class="data-small">RSSMRA00A41C972V</p>
          </div>
        
          <div class="debtor-name-block end-grid-cell">
            <p class="h2">Maria Rossi</p>
          </div>
        
          <div class="debtor-address-block end-grid-cell">
            <p class="h3">
              Vicolo Stretto 1<br />
              64010 Controguerra TE
            </p>
          </div>
        </section>        <section class="notice-payment-info">
          <div class="payment-amount-title-block start-separator">
            <h3 class="small-caps-title">Quanto pagare?</h3>
          </div>
        
          <div class="payment-amount-block start-grid-cell">
            <dl class="amount">
              <dt class="body strong">Importo</dt>
              <dd class="h1">14,00 Euro</dd>
            </dl>
            <dl class="expiry-date">
              <dt class="body strong">entro il</dt>
              <dd class="h1">31/03/2024</dd>
            </dl>
            <div class="info-block">
              <div class="info-paragraph">
                <img src="./assets/icon-info.svg" class="info-icon" aria-hidden="true" />
                <p class="body">Avviso.Rate.Info</p>
              </div>
              <div class="info-paragraph">
                <img src="./assets/icon-info.svg" class="info-icon" aria-hidden="true" />
                <p class="body">In fase di pagamento, se previsto dall’ente, l'importo potrebbe essere
                  aggiornato
                  automaticamente e subire variazioni in
                  diminuzione
                  (per sgravi, note di credito) o in aumento (per sanzioni, interessi, ecc.).</p>
              </div>
            </div>
          </div>
        
          <div class="payment-methods-title-block end-separator">
            <h3 class="small-caps-title">Dove pagare?</h3>
            <div class="pagopa-website-block">
              <p class="body">vai su <span class="h4">pagopa.gov.it</span></p>
            </div>
          </div>
          
          <div class="payment-methods-block end-grid-cell">
            <div class="payment-info-outer">
              <div class="payment-info-inner">
                <h4 class="small-caps-title mb-3x-small">Paga con l'app IO</h4>
                <p class="body">oppure sul sito di Ente.Nome, dal tuo Home Banking, con la tua app di pagamento o con
                  gli
                  altri canali
                  abilitati.</p>
              </div>
              <img src="./assets/pictogram-devices.svg" class="payment-info-pictogram" aria-hidden="true" />
            </div>
          
            <div>
              <div class="payment-info-outer">
                <div class="payment-info-inner">
                  <h4 class="small-caps-title mb-3x-small">Paga sul territorio</h4>
                  <p class="body">presso Banche e Sportelli ATM, negli Uffici Postali e Punti Postali, nei Bar,
                    Edicole,
                    Ricevitorie, Supermercati,
                    Tabaccherie e altri Esercenti Convenzionati.</p>
                </div>
                <img src="./assets/pictogram-physical-locations.svg" class="payment-info-pictogram" aria-hidden="true" />
              </div>
            </div>
          </div>
        </section>        <section class="notice-payment-data">
          <div class="unique-separator">
            <h3 class="small-caps-title">Dati per il pagamento</h3>
          </div>
        
          <section class="instalment-payment-data" style="--columns: 3">
          
            <div>
              <div class="inner-separator">
                <h3 class="small-caps-title">Rata 1</h3>
              </div>
          
              <div class="instalment-details">
                <div class="instalment-details-data-1st-block compact">
                  <div class="qrcode-area">
                    <img class="payment-qrcode" src="assets/fake-qrcode.svg" alt="QR PaymentCode" />
                  </div>
              
                  <dl class="data-key-value-monospaced tight">
                    <dt>Euro</dt>
                    <dd>14,00</dd>
                  </dl>
              
                  <dl class="data-key-value-monospaced tight">
                    <dt>Entro il</dt>
                    <dd>31/03/2024</dd>
                  </dl>
              
                  <div class="grid-cell-span-2">
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. Avviso</dt>
                      <dd>0000 0000 0000 0000 00</dd>
                    </dl>
                  </div>
              
                  <div class="grid-cell-span-2 instalment-row-data">
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. Fiscale Ente</dt>
                      <dd>82001760675</dd>
                    </dl>
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. CBILL</dt>
                      <dd>78Q45</dd>
                    </dl>
                  </div>
              
                </div>
              
              
              
              
              </div>  </div>
          
            <div>
              <div class="inner-separator">
                <h3 class="small-caps-title">Rata 2</h3>
              </div>
          
              <div class="instalment-details">
                <div class="instalment-details-data-1st-block compact">
                  <div class="qrcode-area">
                    <img class="payment-qrcode" src="assets/fake-qrcode.svg" alt="QR PaymentCode" />
                  </div>
              
                  <dl class="data-key-value-monospaced tight">
                    <dt>Euro</dt>
                    <dd>14,00</dd>
                  </dl>
              
                  <dl class="data-key-value-monospaced tight">
                    <dt>Entro il</dt>
                    <dd>31/03/2024</dd>
                  </dl>
              
                  <div class="grid-cell-span-2">
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. Avviso</dt>
                      <dd>0000 0000 0000 0000 00</dd>
                    </dl>
                  </div>
              
                  <div class="grid-cell-span-2 instalment-row-data">
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. Fiscale Ente</dt>
                      <dd>82001760675</dd>
                    </dl>
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. CBILL</dt>
                      <dd>78Q45</dd>
                    </dl>
                  </div>
              
                </div>
              
              
              
              
              </div>  </div>
          
            <div>
              <div class="inner-separator">
                <h3 class="small-caps-title">Rata 3</h3>
              </div>
          
              <div class="instalment-details">
                <div class="instalment-details-data-1st-block compact">
                  <div class="qrcode-area">
                    <img class="payment-qrcode" src="assets/fake-qrcode.svg" alt="QR PaymentCode" />
                  </div>
              
                  <dl class="data-key-value-monospaced tight">
                    <dt>Euro</dt>
                    <dd>14,00</dd>
                  </dl>
              
                  <dl class="data-key-value-monospaced tight">
                    <dt>Entro il</dt>
                    <dd>31/03/2024</dd>
                  </dl>
              
                  <div class="grid-cell-span-2">
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. Avviso</dt>
                      <dd>0000 0000 0000 0000 00</dd>
                    </dl>
                  </div>
              
                  <div class="grid-cell-span-2 instalment-row-data">
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. Fiscale Ente</dt>
                      <dd>82001760675</dd>
                    </dl>
                    <dl class="data-key-value-monospaced tight">
                      <dt>Cod. CBILL</dt>
                      <dd>78Q45</dd>
                    </dl>
                  </div>
              
                </div>
              
              
              
              
              </div>  </div>
          
          </section>
        </section>      </main>
    </div>
  </div>

</body>

</html>