<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
  <title>Avviso di pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="page">
    <div class="page-wrapper">

      {{!-- Notice HEADER --}}
      {{> header }}

      <main class="main-wrapper">
        {{!-- Row 1 --}}
        {{> noticeMainInfo }}
        {{!-- Row 2 --}}
        {{> noticePaymentInfo }}
        {{!-- Row 3 - pagoPA QR Code --}}
        {{> noticePaymentData }}
        {{!-- Row 4 - Multiple instalments --}}
        {{> noticePaymentMultipleInstalments3col }}
      </main>
    </div>
  </div>

</body>

</html>