<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
  <title>Avviso di pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="page">

    <div class="page-wrapper">
      <header class="page-header">
        <section class="pagopa-header">
          <img class="logo" src="assets/pagoPa-logo.svg" />
          <h1 class="title">Avviso di pagamento</h1>
        </section>
        <img alt="Città di Capri" src="https://assets.cdn.io.italia.it/logos/organizations/547330639.png" />
      </header>

      <main>
        <div class="content-grid">

          <section class="transaction-data">

            <section class="transaction-data-group">




            </section>

            <section class="transaction-data-group">






              <dl class="data-key-value">
                <dt>Data e ora</dt>
                <dd class="data-value-big"></dd>
              </dl>

            </section>

          </section>

          <section class="transaction-detail">


          </section>

          <section class="transaction-summary">


            <!-- Partial Amount -->
            <dl class="transaction-summary-key-value">
              <dt>Importo parziale</dt>
              <dd>&nbsp;&euro;</dd>
            </dl>

            <!-- Commissione -->

            <!-- Totale -->
            <dl class="transaction-summary-key-value total-amount">
              <dt>Totale</dt>
              <dd>&nbsp;&euro;</dd>
            </dl>

            <!-- Bank Charges -->

          </section>

        </div>
      </main>

      <footer>

        <div class="footer-disclaimer">
          <p>
            <strong>
              Questa ricevuta attesta il pagamento eseguito. Rivolgiti all’Ente Creditore se hai bisogno della quietanza
              liberatoria.
            </strong>
          </p>

          <p>
            Il totale non include i costi di commissione: puoi trovarli nel documento che hai ricevuto da
            .
          </p>

        </div>


        <div class="company-info">
          <div class="pagopa-company-address">
            <p><strong>Ricevuta trasmessa da PagoPA S.p.A.</strong></p>
            <p>
              Piazza Colonna, 370<br />
              00187 Roma (RM)
            </p>
          </div>

          <!-- Informazioni sul PSP -->

        </div>

        <p>Serve aiuto? Visita <strong><u>pagopa.gov.it/assistenza</u></strong> · ID ricevuta:
          <strong class="transaction-id"></strong>
        </p>

      </footer>
    </div>

  </div>

</body>

</html>