<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
  <title>Avviso di pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="page">
    <div class="page-wrapper">

      <header class="notice-header">
        <section class="main">
          <div class="pagopa-header">
            <img class="logo" src="assets/pagoPa-logo.svg" />
            <p class="h4 notice-title">Avviso di pagamento</p>
          </div>
          <div class="notice-subject">
            <h1 class="h1">Verbale C.D.S. Prot. 20039749</h1>
          </div>
        </section>
        <img class="notice-header-logo" alt="Comune di Milano" src="https://assets.cdn.io.italia.it/logos/organizations/1199250158.png" />
      </header>
      <main class="main-wrapper">
        <section class="notice-main-info">
          <div class="payee-title-block start-separator">
            <h3 class="small-caps-title">Ente creditore</h3>
            <p class="data-small">82001760675</p>
          </div>
        
          <div class="payee-name-block start-grid-cell">
            <p class="h2">Comune di Milano</p>
          </div>
        
          <div class="payee-sector-block start-grid-cell">
            <p class="h3">Comando Polizia Locale Milano</p>
          </div>
        
          <div class="payee-info-block start-grid-cell">
            <p class="body">Centralino: 0861 809901</p>
          </div>
        
          <div class="debtor-title-block end-separator">
            <h3 class="small-caps-title">Destinatario</h3>
            <p class="data-small">RSSMRA00A41C972V</p>
          </div>
        
          <div class="debtor-name-block end-grid-cell">
            <p class="h2">Maria Rossi</p>
          </div>
        
          <div class="debtor-address-block end-grid-cell">
            <p class="h3">
              Vicolo Stretto 1<br />
              64010 Controguerra TE
            </p>
          </div>
        </section>        <section class="notice-payment-info">
          <div class="payment-amount-title-block start-separator">
            <h3 class="small-caps-title">Quanto e quando pagare?</h3>
          </div>
        
          <div class="payment-amount-block-infraction start-grid-cell">
            <div class="amount-1">
              <dl>
                <dt class="body strong">Importo scontato del 30%</dt>
                <dd class="h1">28,70 Euro</dd>
              </dl>
              <p class="body amount-details">
                <strong>entro 5 giorni</strong><br />
                dalla notifica del verbale
              </p>
            </div>
            <div class="amount-2">
              <dl>
                <dt class="body strong">Importo ridotto</dt>
                <dd class="h1">41,00 Euro</dd>
              </dl>
              <p class="body amount-details">
                <strong>dal 6º al 60º giorno</strong><br />
                dalla notifica del verbale
              </p>
            </div>
            <div class="info-block">
              <div class="info-paragraph">
                <img src="./assets/icon-calendar.svg" class="info-icon" aria-hidden="true" />
                <div>
                  <h5 class="h5 mb-3x-small">Come si calcolano le scadenze?</h5>
                  <p class="body">Il giorno della notifica non si conta. Se la scadenza è di domenica (o festivo), puoi pagare
                    anche il primo giorno
                    feriale successivo.</p>
                </div>
              </div>
              <div class="info-paragraph">
                <img src="./assets/icon-document.svg" class="info-icon" aria-hidden="true" />
                <div>
                  <h5 class="h5 mb-3x-small">Cosa succede in caso di giacenza?</h5>
                  <p class="body">La notifica corrisponde al giorno del ritiro, se questo avviene entro 10 giorni dalla data di
                    deposito (la data più
                    vecchia sull’avviso di giacenza).
                    Se non ritiri il verbale entro i 10 giorni, calcola le scadenze iniziando a contare dall’undicesimo giorno.
                  </p>
                </div>
              </div>
            </div>
          </div>
        
          <div class="payment-methods-title-block end-separator">
            <h3 class="small-caps-title">Dove pagare?</h3>
            <div class="pagopa-website-block">
              <p class="body">vai su <span class="h4">pagopa.gov.it</span></p>
            </div>
          </div>
          
          <div class="payment-methods-block end-grid-cell">
            <div class="payment-info-outer">
              <div class="payment-info-inner">
                <h4 class="small-caps-title mb-3x-small">Paga con l'app IO</h4>
                <p class="body">oppure sul sito di Ente.Nome, dal tuo Home Banking, con la tua app di pagamento o con
                  gli
                  altri canali
                  abilitati.</p>
              </div>
              <img src="./assets/pictogram-devices.svg" class="payment-info-pictogram" aria-hidden="true" />
            </div>
          
            <div>
              <div class="payment-info-outer">
                <div class="payment-info-inner">
                  <h4 class="small-caps-title mb-3x-small">Paga sul territorio</h4>
                  <p class="body">presso Banche e Sportelli ATM, negli Uffici Postali e Punti Postali, nei Bar,
                    Edicole,
                    Ricevitorie, Supermercati,
                    Tabaccherie e altri Esercenti Convenzionati.</p>
                </div>
                <img src="./assets/pictogram-physical-locations.svg" class="payment-info-pictogram" aria-hidden="true" />
              </div>
            </div>
          </div>
        </section>
        <div class="arrow-separator">
          <img src="./assets/icon-arrow-down.svg" class="arrow-icon" aria-hidden="true" />
          <p class="body">
            Scegli l'importo corretto per i termini previsti, altrimenti riceverai altre richieste di pagamento per le
            somme residue ed eventuali somme aggiuntive
          </p>
          <img src="./assets/icon-arrow-down.svg" class="arrow-icon" aria-hidden="true" />
        </div>

        <section class="notice-payment-data">
          <div class="unique-separator">
            <h3 class="small-caps-title">Dati per il pagamento</h3>
            <p class="h4">Rata unica entro il 31/03/2024</span></p>
          </div>
        
          <div class="payment-details unique-grid-cell">
            <div class="qrcode-area">
              <img class="payment-qrcode" src="assets/fake-qrcode.svg" alt="QR PaymentCode" />
              <p class="body mt-small">Inquadra il <strong>codice QR</strong> con la tua app di pagamento o usa i dati
                accanto.</p>
            </div>
            <div class="payment-details-data">
              <div class="payment-details-data-1st-block">
          
                <div class="grid-cell-span-1">
                  <dl class="data-key-value">
                    <dt>Destinatario</dt>
                    <dd>Maria Rossi</dd>
                  </dl>
                </div>
          
                <p class="amount align-right">
                  Euro <strong>14,00</strong>
                </p>
          
                <div class="grid-cell-span-2">
                  <dl class="data-key-value">
                    <dt>Ente creditore</dt>
                    <dd>Comune di Controguerra</dd>
                  </dl>
                </div>
          
                <div class="grid-cell-span-2">
                  <dl class="data-key-value">
                    <dt>Oggetto del pagamento</dt>
                    <dd>Verbale C.D.S. Prot. 20039749</dd>
                  </dl>
                </div>
              </div>
          
              <div class="payment-details-data-2nd-block">
          
                <div class="grid-cell-span-2">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. CBILL</dt>
                    <dd>78Q45</dd>
                  </dl>
                </div>
          
                <div class="grid-cell-span-4">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. Avviso</dt>
                    <dd>0000 0000 0000 0000 00</dd>
                  </dl>
                </div>
          
                <div class="grid-cell-span-2 align-right">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. Fiscale Ente</dt>
                    <dd>82001760675</dd>
                  </dl>
                </div>
          
              </div>
            </div>
          </div>
        </section>        <section class="notice-payment-data">
          <div class="unique-separator">
            <h3 class="small-caps-title">Dati per il pagamento</h3>
            <p class="h4">Rata unica entro il 31/03/2024</span></p>
          </div>
        
          <div class="payment-details unique-grid-cell">
            <div class="qrcode-area">
              <img class="payment-qrcode" src="assets/fake-qrcode.svg" alt="QR PaymentCode" />
              <p class="body mt-small">Inquadra il <strong>codice QR</strong> con la tua app di pagamento o usa i dati
                accanto.</p>
            </div>
            <div class="payment-details-data">
              <div class="payment-details-data-1st-block">
          
                <div class="grid-cell-span-1">
                  <dl class="data-key-value">
                    <dt>Destinatario</dt>
                    <dd>Maria Rossi</dd>
                  </dl>
                </div>
          
                <p class="amount align-right">
                  Euro <strong>14,00</strong>
                </p>
          
                <div class="grid-cell-span-2">
                  <dl class="data-key-value">
                    <dt>Ente creditore</dt>
                    <dd>Comune di Controguerra</dd>
                  </dl>
                </div>
          
                <div class="grid-cell-span-2">
                  <dl class="data-key-value">
                    <dt>Oggetto del pagamento</dt>
                    <dd>Verbale C.D.S. Prot. 20039749</dd>
                  </dl>
                </div>
              </div>
          
              <div class="payment-details-data-2nd-block">
          
                <div class="grid-cell-span-2">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. CBILL</dt>
                    <dd>78Q45</dd>
                  </dl>
                </div>
          
                <div class="grid-cell-span-4">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. Avviso</dt>
                    <dd>0000 0000 0000 0000 00</dd>
                  </dl>
                </div>
          
                <div class="grid-cell-span-2 align-right">
                  <dl class="data-key-value-monospaced">
                    <dt>Cod. Fiscale Ente</dt>
                    <dd>82001760675</dd>
                  </dl>
                </div>
          
              </div>
            </div>
          </div>
        </section>      </main>
    </div>
  </div>

</body>

</html>