<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
    <title>Avviso di pagamento</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
<div class="page">
    <div class="page-wrapper">

        {{!-- Notice HEADER --}}
        {{> header }}

        <main class="main-wrapper">
            {{!-- Row 1 --}}
            {{> mainInfo }}
            {{!-- Row 2 --}}
            {{> paymentInfo }}

            {{#with notice}}

            {{!-- Row 3 - pagoPA QR Code --}}
                {{> paymentData
                        debtor=../debtor
                        notice=../notice
                        payee=../payee
                        tempPath=../tempPath
                }}
                {{!-- First Row of Instalments in the First Page --}}
                {{> paymentInstalments
                        debtor=../debtor
                        notice=../notice
                        payee=../payee
                        tempPath=../tempPath
                        instalments=(navigateMatrix (paginator ../notice false) 0 0)
                        columns=(arrayLength (navigateMatrix (paginator ../notice false) 0 0))
                        start=0
                }}
            {{/with }}
        </main>
    </div>
</div>



{{#with notice}}
{{!-- for each Extra Page with other instalments --}}
    {{#each (times (add (arrayLength (paginator ../notice false)) -1)) as | pageNumber | }}
        <div class="page">
            <div class="page-wrapper">
                {{!-- Notice HEADER --}}
                {{> header
                        notice=../../notice
                        payee=../../payee
                }}
                <main class="main-wrapper">
                    {{#each (navigateMatrix (paginator @.. false) (add pageNumber 1) ) as | row | }}
                    {{!-- for each Row in the page create the pagopa QR --}}
                        {{> paymentInstalments
                                debtor=../../../debtor
                                notice=../../../notice
                                payee=../../../payee
                                tempPath=../../../tempPath
                                instalments=(row)
                                columns=(arrayLength row)
                                start=(getRowIndex @index (add pageNumber 1) (paginator @../.. false))
                                compact=false
                        }}

                    {{/each}}
                </main>
            </div>
        </div>
    {{/each}}
{{/with }}
</body>
</html>



