<!DOCTYPE html>
<html lang="{{#if metadata.language}}{{metadata.language}} {{metadata.secondaryLanguage}}{{else}}'it'{{/if}}" {{#if
    metadata.secondaryLanguage}}class="bilingual" {{/if}} xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
    <title>{{{languageHandler 'title'}}}</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            {{!-- Notice HEADER --}}
            {{> header }}

            <main class="main-wrapper">
                {{!-- Row 1 --}}
                {{> mainInfo }}
                {{!-- Row 2 --}}
                {{> paymentInfoInfraction }}
                {{!-- Arrow separator --}}
                {{> paymentSeparatorInfraction}}

                {{!-- Row 3 - pagoPA QR Code (30% discount) --}}
                {{#with notice.instalments.discounted}}
                {{> paymentData
                title="infraction.amount.discounted"
                subtitle="infraction.expiryDate.default.discounted"
                debtor=../debtor
                notice=../notice
                payee=../payee
                tempPath=../tempPath
                }}
                {{/with}}

                {{!-- Row 4 - pagoPA QR Code (general discount) --}}
                {{#with notice.instalments.reduced}}
                {{> paymentData
                title="infraction.amount.reduced"
                subtitle="infraction.expiryDate.default.reduced"
                debtor=../debtor
                notice=../notice
                payee=../payee
                tempPath=../tempPath
                }}
                {{/with}}

            </main>
        </div>
    </div>

</body>

</html>