<header class="notice-header">
  <section class="main">
    <div class="pagopa-header">
      <img class="logo" src="assets/pagoPa-logo.svg" />
      <h1 class="title">Avviso di pagamento</h1>
    </div>
    <div class="notice-subject">
      <h2 style="margin: 0">{{notice.subject}}</h2>
    </div>
  </section>
  <img class="notice-header-logo" alt="{{payee.name}}" src="{{payee.logo}}" />
</header>