<section class="notice-main-info">
  <div class="payee-title-block start-separator">
    <h3 class="small-caps-title">Ente creditore</h3>
    <p class="data-small">82001760675</p>
  </div>

  <div class="payee-name-block start-grid-cell">
    <p class="h2">{{payee.name}}</p>
  </div>

  <div class="payee-sector-block start-grid-cell">
    <p class="h3">{{payee.sector}}</p>
  </div>

  <div class="payee-info-block start-grid-cell">
    <p class="body">Centralino: 0861 809901</p>
  </div>

  <div class="debtor-title-block end-separator">
    <h3 class="small-caps-title">Destinatario</h3>
    <p class="data-small">RSSMRA00A41C972V</p>
  </div>

  <div class="debtor-name-block end-grid-cell">
    <p class="h2">Maria Rossi</p>
  </div>

  <div class="debtor-address-block end-grid-cell">
    <p class="h3">
      Vicolo Stretto 1<br />
      64010 Controguerra TE
    </p>
  </div>
</section>