<section class="notice-poste-payment-data">
  <div class="header-bollettino-postale unique-separator">
    <div class="title">
      <h3 class="small-caps-title">Bollettino postale PA</h3>
    </div>
    <div class="logo-and-date">
      <img class="logo-bancoposta" src="assets/poste/banco-posta.svg" alt="BancoPosta" />
      <p class="h4">Rata unica entro il 31/03/2024</span></p>
      <img class="poste-scissors" src="assets/poste/scissors.svg" aria-hidden="true" />
    </div>
  </div>

  {{> noticePaymentBollettino }}

</section>