<section class="instalment-payment-data">

  <div>
    <div class="inner-separator">
      <h3 class="small-caps-title">Rata 1</h3>
    </div>

    {{> noticePaymentQRCol }}
  </div>

  <div>
    <div class="inner-separator">
      <h3 class="small-caps-title">Rata 2</h3>
    </div>

    {{> noticePaymentQRCol }}
  </div>

</section>