<div class="instalment-details">
  <div class="instalment-details-data-1st-block compact">
    <div class="qrcode-area">
      <img class="payment-qrcode" src="assets/fake-qrcode.svg" alt="QR PaymentCode" />
    </div>

    <dl class="data-key-value-monospaced tight">
      <dt>Euro</dt>
      <dd>14,00</dd>
    </dl>

    <dl class="data-key-value-monospaced tight">
      <dt>Entro il</dt>
      <dd>31/03/2024</dd>
    </dl>

    <div class="grid-cell-span-2">
      <dl class="data-key-value-monospaced tight">
        <dt>Cod. Avviso</dt>
        <dd>0000 0000 0000 0000 00</dd>
      </dl>
    </div>

    <div class="grid-cell-span-2 instalment-row-data">
      <dl class="data-key-value-monospaced tight">
        <dt>Cod. Fiscale Ente</dt>
        <dd>82001760675</dd>
      </dl>
      <dl class="data-key-value-monospaced tight">
        <dt>Cod. CBILL</dt>
        <dd>78Q45</dd>
      </dl>
    </div>

  </div>

  {{!-- <div class="instalment-details-data-2nd-block">
    <dl class="data-key-value">
      <dt>Oggetto del pagamento</dt>
      <dd>{{notice.subject}}</dd>
    </dl>
    <dl class="data-key-value">
      <dt>Destinatario</dt>
      <dd>Maria Rossi</dd>
    </dl>
    <dl class="data-key-value">
      <dt>Ente creditore</dt>
      <dd>Comune di Controguerra</dd>
    </dl>
    <p class="body">Inquadra il <strong>codice QR</strong> con la tua app o usa i dati
      sopra</p>
  </div> --}}



</div>