<section class="notice-payment-data">
  <div class="unique-separator">
    <h3 class="small-caps-title">Dati per il pagamento</h3>
  </div>

  <div class="payment-data-compact unique-grid-cell">
    <div class="payment-data-compact-row">
      <dl class="data-key-value">
        <dt>Destinatario</dt>
        <dd class="forcedCapitalCase">{{lowercase debtor.fullName}}</dd>
      </dl>
      <dl class="data-key-value">
        <dt>Ente creditore</dt>
        <dd>{{payee.name}}</dd>
      </dl>
      <dl class="data-key-value">
        <dt>Oggetto del pagamento</dt>
        <dd>{{notice.subject}}</dd>
      </dl>
    </div>
  </div>

  <section class="instalment-payment-data" style="--columns: 3">

    {{#each (slice notice.instalments.items 3)}}

    <div>
      <div class="inner-separator">
        <h3 class="small-caps-title">Rata {{add @index 4}}</h3>
      </div>
      {{#with this}}
      {{> paymentQRColDense
      payee=../payee
      }}
      {{/with}}
    </div>

    {{/each}}

  </section>

</section>