<section class="notice-payment-info">
  <div class="payment-amount-title-block start-separator">
    <h3 class="small-caps-title">Quanto pagare?</h3>
  </div>

  <div class="payment-amount-block start-grid-cell">
    <dl class="amount">
      <dt class="body strong">Importo</dt>
      <dd class="h1">{{notice.amount}} Euro</dd>
    </dl>

    {{#if notice.expiryDate}}
    <dl class="expiry-date">
      <dt class="body strong">entro il</dt>
      <dd class="h1">{{notice.expiryDate}}</dd>
    </dl>
    {{/if}}

    <div class="info-block">
      <div class="info-paragraph">
        <img src="./assets/icon-info.svg" class="info-icon" aria-hidden="true" />
        <p class="body">Avviso.Rate.Info</p>
      </div>
      <div class="info-paragraph">
        <img src="./assets/icon-info.svg" class="info-icon" aria-hidden="true" />
        <p class="body">In fase di pagamento, se previsto dall’ente, l'importo potrebbe essere
          aggiornato
          automaticamente e subire variazioni in
          diminuzione
          (per sgravi, note di credito) o in aumento (per sanzioni, interessi, ecc.).</p>
      </div>
    </div>
  </div>

  {{> paymentMethods }}

</section>