<section class="instalment-payment-data" style="--columns: 3">

  {{#each notice.instalments.items}}

  <div>
    <div class="inner-separator">
      <h3 class="small-caps-title">Rata {{add @index 1}}</h3>
    </div>
    {{#with this}}
    {{> paymentQRColCompact }}
    {{/with}}
  </div>

  {{/each}}

</section>