<div class="arrow-separator">
  <img src="./assets/icon-arrow-down.svg" class="arrow-icon" aria-hidden="true" />
  <p class="body">
    Scegli l'importo corretto per i termini previsti, altrimenti riceverai altre richieste di pagamento per le
    somme residue ed eventuali somme aggiuntive
  </p>
  <img src="./assets/icon-arrow-down.svg" class="arrow-icon" aria-hidden="true" />
</div>