<section class="notice-payment-data">
  <div class="unique-separator">
    <h3 class="small-caps-title">
      {{#if title}}
      {{title}}
      {{else}}
      Dati per il pagamento
      {{/if}}
    </h3>
    {{{subtitle}}}
  </div>

  {{> paymentQR}}

</section>