<section class="instalment-payment-data" style="--columns: 2">

  <div>
    <div class="inner-separator">
      <h3 class="small-caps-title">Rata 1</h3>
    </div>

    {{> paymentQRCol }}
  </div>

  <div>
    <div class="inner-separator">
      <h3 class="small-caps-title">Rata 2</h3>
    </div>

    {{> paymentQRCol }}
  </div>

</section>