<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
    <title>Avviso di pagamento</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
<div class="page">
    <div class="page-wrapper">

        {{!-- Notice HEADER --}}
        {{> header }}

        <main class="main-wrapper">
            {{!-- Row 1 --}}
            {{> mainInfo }}
            {{!-- Row 2 --}}
            {{> paymentInfo }}

            {{#with notice}}

            {{!-- Row 3 - pagoPA QR Code --}}
                {{> paymentData
                        debtor=../debtor
                        notice=../notice
                        payee=../payee
                        tempPath=../tempPath
                }}

                {{!-- Row 4 - Multiple instalments --}}
                {{> paymentMultipleInstalments2col
                        debtor=../debtor
                        notice=../notice
                        payee=../payee
                        tempPath=../tempPath
                }}

            {{/with}}

        </main>
    </div>
</div>

</body>

</html>
