<section class="notice-payment-info">
    <div class="payment-amount-title-block start-separator">
        {{{languageHandler 'paymentInfo.title.withExpiryDate' classPrimaryLang='small-caps-title'
        classSecondaryLang='small-caps-title-bilingual'}}}
    </div>

    <div class="start-grid-cell">
        <div class="info-block">
            <div class="info-paragraph">
                <img src="./assets/icons/icon-info.svg" class="info-icon" aria-hidden="true" />
                <p class="body">Importi e scadenze sono riportati nel dettaglio di ogni singola rata.</p>
            </div>
            <div class="info-paragraph">
                <img src="./assets/icons/icon-info.svg" class="info-icon" aria-hidden="true" />
                {{{languageHandler 'paymentInfo.legal'
                classPrimaryLang='body'
                classSecondaryLang='body muted'
                align="vertical"}}}
            </div>
        </div>
    </div>

    {{> paymentMethods }}

</section>