<div class="arrow-separator">
    <img src="./assets/icons/icon-arrow-down.svg" class="arrow-icon" aria-hidden="true" />
    {{{languageHandler 'infraction.disclaimer.chooseAmount' classPrimaryLang='body'
    classSecondaryLang='body muted' align="vertical"}}}
    <img src="./assets/icons/icon-arrow-down.svg" class="arrow-icon" aria-hidden="true" />
</div>