<div class="payment-methods-title-block end-separator">
  <h3 class="small-caps-title">Dove pagare?</h3>
  <div class="pagopa-website-block">
    <p class="body">vai su <span class="h4">pagopa.gov.it</span></p>
  </div>
</div>

<div class="payment-methods-block end-grid-cell">
  <div class="payment-info-outer">
    <div class="payment-info-inner">
      <h4 class="small-caps-title mb-3x-small">Paga con l'app IO</h4>
      <p class="body">oppure {{getOnlinePaymentMethodContent payee.channel.online.website payee.channel.online.app}}dal
        tuo Home
        Banking, con la tua app di pagamento o con
        gli
        altri canali
        abilitati.</p>
    </div>
    <img src="./assets/pictogram-devices.svg" class="payment-info-pictogram" aria-hidden="true" />
  </div>

  <div>
    <div class="payment-info-outer">
      <div class="payment-info-inner">
        <h4 class="small-caps-title mb-3x-small">Paga sul territorio</h4>
        <p class="body">{{getPhysicalPaymentMethodContent payee.channel.offline}}presso
          Banche e Sportelli ATM, negli Uffici Postali e Punti Postali, nei Bar,
          Edicole,
          Ricevitorie, Supermercati,
          Tabaccherie e altri Esercenti Convenzionati.</p>
      </div>
      <img src="./assets/pictogram-physical-locations.svg" class="payment-info-pictogram" aria-hidden="true" />
    </div>
  </div>
</div>