<section class="notice-payment-info">
    <div class="payment-amount-title-block start-separator">
        <h3 class="small-caps-title">Quanto e quando pagare?</h3>
    </div>

    <div class="start-grid-cell">
        <div class="info-block">
            <div class="info-paragraph">
                <img src="./assets/icons/icon-info.svg" class="info-icon" aria-hidden="true"/>
                <p class="body">Importi e scadenze sono riportati nel dettaglio di ogni singola rata.</p>
            </div>
            <div class="info-paragraph">
                <img src="./assets/icons/icon-info.svg" class="info-icon" aria-hidden="true"/>
                <p class="body">In fase di pagamento l’importo potrebbe
                    subire aumenti (per sanzioni, interessi, costi di notifica
                    o altri fattori) o riduzioni (per sgravi o note di credito).</p>
            </div>
        </div>
    </div>

    {{> paymentMethods }}

</section>
