<section class="thermal-block">
  <div class="thermal-separator">
    <h3 class="thermal-small-caps-title">Quanto e quando pagare?</h3>
  </div>

  <div class="thermal-payment-amount-block-infraction thermal-grid-cell">
    <div class="amount-1">
      <p class="h1">{{notice.instalments.discounted.amount}} Euro</p>
      <p class="body amount-details">
        <strong>Sconto del 30% entro 5 giorni</strong> dalla data dell’infrazione
      </p>
    </div>

    <p class="body">
      Se non paghi entro i termini, seguirà notifica
      del verbale per posta, gravato delle spese di
      notifica e di procedimento.
    </p>

    <div class="info-block">
      <div class="info-paragraph">
        <img src="./assets/icon-calendar.svg" class="info-icon" aria-hidden="true" />
        <div>
          <h5 class="h5 mb-3x-small">Come si calcolano le scadenze?</h5>
          <p class="body">Il giorno della notifica non si conta. Se la scadenza è di domenica (o festivo), puoi pagare
            anche il primo giorno
            feriale successivo.</p>
        </div>
      </div>
    </div>
  </div>

</section>