<header class="thermal-notice-header">
  <section class="main">
    <div class="pagopa-header">
      <img class="logo" src="assets/pagoPa-logo-black.svg" />
      <p class="h5 notice-title">Avviso di pagamento</p>
    </div>
  </section>
</header>